.options {
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 10100;
  background-color: white;
}
.select:has(.initial) .options {
  display: none;
  opacity: 0;
}
.select:has(.blur) .options {
  animation: blur 0.3s forwards;
}
.select:has(.focus) .options {
  animation: focus 0.3s forwards;
}
@keyframes focus {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.selected {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
.select-outline {
}
.select:not(.focus) .select-outline {
  border: black solid 1px;
}
.select.focus .select-outline {
  border: blue solid 1px;
}

.option {
  padding: 4px 10px;
  width: 100%;
}
.option:hover {
  padding: 4px 10px;
  background-color: lightgray;
}

.select.focus .blur-background {
  background-color: transparent;
  position: fixed;
  inset: 0;
  z-index: 10000;
}

.select:not(.material) .select-input {
  top: 50%;
  transform: translateY(-50%);
}
.select:not(.material) .inside-placeholder {
  display: none;
}
.select.material .outside-placeholder {
  display: none;
}
